/* GLOBAL */

* { margin: 0; padding: 0; }
body { width: 100%; }
ul, li { list-style: none; }
input[type='radio'] { display: none; } 
label { display: block; }

/* HEADER */

header { height: 107px; }
header .top { background: #242424; }
header .top > div { margin: 0 auto; width: 1200px; display: flex; justify-content: space-between; height: 47px; line-height: 47px; }
header .top .logo { color: #57c584; font-size: 30px; }
header .top .right { display: flex; color: #7e7e7e; }
header .top .right div { padding: 0 30px; border-right: 1px solid #7e7e7e; }
header .nav { background: #fff; }
header .nav > div { margin: 0 auto; width: 1200px; display: flex; justify-content: space-between; }
header .nav .gnb { display: flex; align-items: center; width: 650px; }
header .nav .gnb li { border-left: 1px solid #ccc; height: 60px; line-height: 60px; text-align: center; color: #242424; padding: 0 15px; font-size: 20px; font-weight: lighter; }
header .nav .gnb li:last-child { width: 1px; padding: 0; }
header .nav .shopping { display: flex; }
header .nav .shopping .bar { width: 1px; height: 100%; background: #ccc; }
header .nav .shopping > div:not(.bar) { display: flex; align-items: center; height: 60px; padding: 0 25px; }
header .nav .shopping > div:not(.bar) > * { margin: 0 5px; }
header .nav .shopping > div:nth-child(1) { border-left: 1px solid #ccc; }
header .nav .shopping > div:nth-child(3) { border-right: 1px solid #ccc; }
header .nav .shopping i { font-size: 20px; color: #6e6e6e; }
header .nav .count { width: 25px; height: 25px; color: #fff; border-radius: 5px; text-align: center; line-height: 25px; background: #6e6e6e; }

/* MAIN */
.main { height: 980px; }
.main .slide { width: 100%; height: 700px; }
.main .slide .slide_box { display: flex; }
.main .slide .slide_box .img_piece { width: 100%; height: 600px; }
.main .slide .control_wrap { display: flex; height: 100px; justify-content: space-around; align-items: center; flex-flow: column wrap; background: #2e2e2e; }
.main .slide .control_wrap .slide_bar { display: flex; align-items: center; background: #000; width: 1200px; height: 10px; margin-top: 10px; }
.main .slide .control_wrap .slide_bar .position {margin: 0 0.625%; background: #57c5a0; width: 18.25%; height: 5px; }
.main .slide .control { display: flex; width: 1200px; background: #2e2e2e ; color: #fff; height: 50px; }
.main .slide .control label { text-align: center; width: 20%; height: 50px; line-height: 50px; }

.recommend { width: 100%; height: 280px; background: #242424; }
.recommend .wrap { margin: 0 auto; width: 1200px; height: 220px; display: flex; justify-content: space-around; align-items: center; }
.recommend .wrap .block { position: relative; width: 380px; height: 220px; }
.recommend .wrap .block .bg { position: absolute; width: 380px; height: 220px; }
.recommend .wrap .block:nth-child(1) .bg { background: url(../images/banner1.png); }
.recommend .wrap .block:nth-child(2) .bg { background: url(../images/banner2.png); }
.recommend .wrap .block:nth-child(3) .bg { background: url(../images/banner3.png); }
.recommend .wrap .block .animate_block { width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: absolute; }
.recommend .wrap .block:hover .animate_block { transform: scale() rotateZ(-450deg); }
.recommend .wrap .block .text { font-size: 30px; position: absolute; color: #fff; width: 100%; height: 100%; line-height: 220px; text-align: center; }

/* CONTENT */
.content { pad width: 100%; height: 1125px; background: #ebe7df; }
.content .wrap { display: flex; flex-flow: column wrap; justify-content: space-around; align-items: center; margin: 0 auto; width: 1200px; height: 1125px; }
.content .wrap > div { width: 100%; height: 32%; display: flex; flex-flow: column wrap; justify-content: space-around; align-items: center; }
.content .wrap > div .products { width: 100%; display: flex; justify-content: space-between; }
.content .wrap .upside { width: 100%; height: 30px; line-height: 30px; display: flex; justify-content: space-between; }
.content .wrap > div:not(.text_block) .title { font-size: 25px; }
.content .wrap .all { transition: .5s; width: 110px; height: 30px; text-align: center; color: #bcb5a7; border:1px solid #bcb5a7; font-size: 17px; }
.content .wrap .all:hover { transition: .5s; background: #57c5a0; color: #fff; }
.content .wrap div .block { width: 285px; height: 300px; position: relative; }
.content .new .block:nth-child(1) { background: url(../images/product1.png) no-repeat center/cover; }
.content .new .block:nth-child(2) { background: url(../images/product2.png) no-repeat center/cover; }
.content .new .block:nth-child(3) { background: url(../images/product3.png) no-repeat center/cover; }
.content .new .block:nth-child(4) { background: url(../images/product4.png) no-repeat center/cover; }
.content .best .block:nth-child(1) { background: url(../images/product5.png) no-repeat center/cover; }
.content .best .block:nth-child(2) { background: url(../images/product6.png) no-repeat center/cover; }
.content .best .block:nth-child(3) { background: url(../images/product7.png) no-repeat center/cover; }
.content .best .block:nth-child(4) { background: url(../images/product8.png) no-repeat center/cover; }
.content .wrap div .block .square { opacity: 1; transition-duration: .5s ; position: absolute; width: 80px; height: 80px; background: #57c5a0; text-align: center; line-height: 80px; left: 20px; bottom: 20px; }
.content .wrap div .block:hover .square { opacity: 0.7; width: 100%; height: 100%; left: 0; bottom: 0; }
.content .wrap div .block .buttons { transition-duration: .5s; opacity: 0; z-index: 50; position: absolute; left: 50%; top: 60%; transform: translateX(-50%); font-size: 25px; color: #3e3e3e; }
.content .wrap div .block:hover .buttons { transition-duration: .5s; transition-delay: .5s; opacity: 1; top: 50%; transform: translateX(-50%) translateY(-50%); }
.content .wrap div .block .buttons i { transition-duration: .5s; }
.content .wrap div .block .buttons i:hover { color: #fff; }
.content .wrap div .block .cost { transition-duration: .5s; position: absolute; left: 32.5px; bottom: 50px; z-index: 50; color: #fff; }
.content .wrap div .block:hover .cost { transition-duration: .5s; transition-delay: 1s; font-size: 30px; left: 50%; bottom: 50px; transform: translateX(-50%); z-index: 50; color: #fff; }
.content .wrap .text_block .small_block { display: flex; justify-content: center; align-items: center; background: #dfdbd4; width: 285px; height: 230px; }
.content .wrap .text_block .long_block { background: #dfdbd4; width: 590px; height: 230px; }
.content .wrap .text_block div { width: 90%; height: 90%; }
.content .wrap .text_block .title { font-weight: bold; font-size: 20px; }
.content .wrap .text_block p:not(.title) { font-size: 15px; }