/* GLOBAL */

* { margin: 0; padding: 0; }
body { width: 100%; }
ul, li { list-style: none; }
input[type='radio'] { display: none; } 
label { display: block; }

/* HEADER */

header { height: 107px; }
header .top { background: #242424; }
header .top > div { margin: 0 auto; width: 1200px; display: flex; justify-content: space-between; height: 47px; line-height: 47px; }
header .top .logo { color: #57c584; font-size: 30px; }
header .top .right { display: flex; color: #7e7e7e; }
header .top .right div { padding: 0 30px; border-right: 1px solid #7e7e7e; }
header .nav { background: #fff; }
header .nav > div { margin: 0 auto; width: 1200px; display: flex; justify-content: space-between; }
header .nav .gnb { display: flex; align-items: center; width: 650px; }
header .nav .gnb li { border-left: 1px solid #ccc; height: 60px; line-height: 60px; text-align: center; color: #242424; padding: 0 15px; font-size: 20px; font-weight: lighter; }
header .nav .gnb li:last-child { width: 1px; padding: 0; }
header .nav .shopping { display: flex; }
header .nav .shopping .bar { width: 1px; height: 100%; background: #ccc; }
header .nav .shopping > div:not(.bar) { display: flex; align-items: center; height: 60px; padding: 0 25px; }
header .nav .shopping > div:not(.bar) > * { margin: 0 5px; }
header .nav .shopping > div:nth-child(1) { border-left: 1px solid #ccc; }
header .nav .shopping > div:nth-child(3) { border-right: 1px solid #ccc; }
header .nav .shopping i { font-size: 20px; color: #6e6e6e; }
header .nav .count { width: 25px; height: 25px; color: #fff; border-radius: 5px; text-align: center; line-height: 25px; background: #6e6e6e; }

/* MAIN */
.main { height: 980px; }
.main .slide { width: 100%; height: 700px; }
.main .slide .slide_box { display: flex; }
.main .slide .slide_box .img_piece { width: 100%; height: 600px; }
.main .slide .control_wrap { display: flex; height: 100px; justify-content: space-around; align-items: center; flex-flow: column wrap; background: #2e2e2e; }
.main .slide .control_wrap .slide_bar { display: flex; align-items: center; background: #000; width: 1200px; height: 10px; margin-top: 10px; }
.main .slide .control_wrap .slide_bar .position {margin: 0 0.625%; background: #57c5a0; width: 18.25%; height: 5px; }
.main .slide .control { display: flex; width: 1200px; background: #2e2e2e ; color: #fff; height: 50px; }
.main .slide .control label { text-align: center; width: 20%; height: 50px; line-height: 50px; }

.recommend { width: 100%; height: 280px; background: #242424; }
.recommend .wrap { margin: 0 auto; width: 1200px; height: 220px; display: flex; justify-content: space-around; align-items: center; }
.recommend .wrap .block { position: relative; width: 380px; height: 220px; }
.recommend .wrap .block .bg { position: absolute; width: 380px; height: 220px; }
.recommend .wrap .block:nth-child(1) .bg { background: url(../images/banner1.png); }
.recommend .wrap .block:nth-child(2) .bg { background: url(../images/banner2.png); }
.recommend .wrap .block:nth-child(3) .bg { background: url(../images/banner3.png); }
.recommend .wrap .block .animate_block { width: 100%; height: 100%; background: rgba(0,0,0,0.5); position: absolute; }
.recommend .wrap .block:hover .animate_block { transform: scale() rotateZ(-450deg); }
.recommend .wrap .block .text { font-size: 30px; position: absolute; color: #fff; width: 100%; height: 100%; line-height: 220px; text-align: center; }

/* CONTENT */
.content { width: 100%; height: 1125px; background: #ebe7df; }
.content .wrap { width: 1200px; height: 1125px; }
.content .wrap .new { height: 360px; }
.content .wrap .best { height: 360px; }
.content .wrap .text_block { height: 290px; }